main .container {
  background-color: #eee;
  border: 0.1rem solid #00000025;
  box-shadow: 0 0 0.2rem #00000050;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-radius: 1rem;
  padding: 2rem 3rem;
}

main .container h1 {
  width: 100%;
  text-align: center;
  border-right: 0.2rem dashed #00000025;
  height: 100%;
  padding-right: 3rem;
}

main .container div {
  gap: 2rem;
}

main .container div button {
  padding: 1rem 2rem;
  background-color: #00d;
  min-width: max-content;
  font-size: 1rem;
  color: #fff;
  border: none;
  filter: brightness(1);
  transition: all 0.2s;
  border-radius: 1rem;
}

main .container div button:hover {
  filter: brightness(1.2);
}

main .container div button:last-child {
  background-color: #d00;
}
