.anime-login {
  animation: toLogin 0.5s forwards;
}

.anime-signup {
  animation: toSignup 0.5s forwards;
}

.btn-login {
  animation: btnLogin 0.5s forwards;
}

.btn-signup {
  animation: btnSignup 0.5s forwards;
}

.anime-msg {
  animation: msg 3s forwards;
}

.h1-login {
  animation: h1Login 0.5s forwards;
}

.h1-signup {
  animation: h1Signup 0.5s forwards;
}

form .reset {
  display: none;
}

.msg {
  padding: 1rem 2rem;
  background-color: #fff;
  border: 0.1rem solid #00000025;
  border-radius: 1rem 0 1rem 1rem;
  box-shadow: 0 0 0.2rem #00000050;
  position: absolute;
  opacity: 0;
  transform: translateX(100%);
  max-width: 20rem;
  right: 2rem;
  top: 2rem;
}

@keyframes msg {
  5%,
  95% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

main {
  padding: 2rem;
  width: 24rem;
  background-color: #eee;
  overflow: hidden;
  border-radius: 1rem;
  border: 0.1rem solid #00000025;
  box-shadow: 0 0 0.2rem #00000050;
}

main .container {
  gap: 2rem;
}

main .form-header {
  width: 100%;
  gap: 1.5rem;
}

main .form-header h1 {
  width: 200%;
  justify-content: space-between;
  transform: translateX(35%);
}

@keyframes h1Signup {
  50% {
    transform: translateX(40%);
  }

  100% {
    transform: translateX(-35%);
  }
}

@keyframes h1Login {
  0% {
    transform: translateX(-35%);
  }

  50% {
    transform: translateX(-40%);
  }

  100% {
    transform: translateX(35%);
  }
}

main .show-area {
  width: 100%;
  border: 0.12rem solid #00000025;
  height: 3rem;
  background-color: transparent;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

main .show-area span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 1rem;
  background-image: var(--gradient);
}

main .show-area button {
  flex: 1;
  font-size: 1.1rem;
  border-radius: 1rem;
  background-color: transparent;
  border: 0;
  z-index: 3;
  transition: all 0.7s ease-in-out;
}

main .show-area .first {
  color: #fff;
}

main .form-container {
  gap: 4rem;
}

main form .form-content {
  gap: 1.3rem;
  width: 20rem;
}

main form .form-content .input-container {
  gap: 1.3rem;
}

main form input {
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: transparent;
  font-size: 1.2rem;
  border-radius: 1rem;
  border: 0.1rem solid #00000025;
  transition: all 0.2s;
  outline: 0.1rem solid transparent;
}

main form input:focus {
  outline: 0.1rem solid #11f;
}

main form button[submit-button] {
  width: 100%;
  height: 3rem;
  color: #fff;
  font-size: 1.2rem;
  background-image: var(--reverse-gradient);
  border-radius: 1rem;
  filter: brightness(1);
  transition: all 0.2s;
  border: none;
}

main form button[submit-button]:hover {
  filter: brightness(1.2);
}

main form .more-container {
  padding: 0.75rem;
  gap: 0.2rem;
}

main form .more-container button {
  background-color: transparent;
  border: none;
  color: #22f;
  font-size: 1rem;
}

main form .more-container button:hover {
  text-decoration: underline;
}

@keyframes toSignup {
  50% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(-121.5%);
  }
}

@keyframes toLogin {
  0% {
    transform: translateX(-121.5%);
  }

  50% {
    transform: translateX(-130%);
  }

  100% {
    transform: translateX(-0.5%);
  }
}

@keyframes btnSignup {
  50% {
    transform: translateX(-100%);
    left: 47.5%;
  }

  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}

@keyframes btnLogin {
  0% {
    transform: translateX(-100%);
    left: 100%;
  }

  50% {
    transform: translateX(0);
    left: 52.5%;
  }

  100% {
    left: 0;
  }
}
